<template>
<div class="img">
    <div class="img-overlay">

        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 center">
                    <div class="card py-5 mt-5">
                        <div class="card-title center ">
                            <h1>Iniciar sesión</h1>
                        </div>
                        <div class="row">
                            <div class="col-1 col-md-2"></div>
                            <div class="col-10 col-md-8">                        
                                <div class="form-group">
                                    <span class="h5">Usuario</span>
                                    <input class="form-control" type="text" placeholder="Juan" @keyup="comprovar" v-model="usuario"/>
                                    <div id="usuarioError"></div>
                                </div>
                                <div class="form-group">
                                    <span class="h5">Contraseña</span>
                                    <input class="form-control" type="password" placeholder="••••••••••••••••" @keyup="comprovar" v-model="contraseña"/>
                                    <div id="contraseñaError"></div>
                                </div>
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col-6">
                                        <div class="form-group mt-3">
                                            <div v-if="prueva">
                                                <router-link to="/principal" class="btn btn-block bg-success">Entrar</router-link>
                                            </div>
                                            <div v-else>
                                                <button class="btn btn-block bg-success" disabled>Entrar</button>
                                            </div>                   
                                        </div>
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                            <div class="col-1 col-md-2"></div>
                        </div>
                        <div class="card-body center">
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>    
    </div>
</div>
</template>

<script>
export default {
    data () {
        return {
            usuario: '',
            contraseña: '',

            prueva: false
        }
    },
    created () {
        this.comprovar()
    },
    methods: {
        comprovar () {
            
            let err = 0
            
                // Comprovar nombre de usuario

            // Comprovar que no este vacio
            if (this.usuario === '') {
                document.getElementById('usuarioError').innerHTML =  
                    `<div class="alert alert-danger p-1 mt-2">
                        el nombre de usuario esta vacio
                    </div>`
                    err += 1
            }else{

                document.getElementById('usuarioError').innerHTML =  '';
            }
                // Comprovar contraseña

            //comprovar que no este vacia
            if (this.contraseña === '') {
                document.getElementById('contraseñaError').innerHTML = 
                    `<div class="alert alert-danger p-1 mt-2">
                        la contraseña esta vacia
                    </div>`
                    err += 1
            } else {
                document.getElementById('contraseñaError').innerHTML = '';
            }
            // temporal
            if (err == 0) {
                this.prueva = true;
            }else{
                this.prueva = false;
            }
        }
    }
}
</script>


<style scoped>
.img{
     
    background-image: url('../assets/fondo_app_gestion_escolar.jpg');
    height: 100vh;
    
    
}
.img-overlay{
    background-color: #f8d3bdab;
    height: 100vh;
}
.center{
    align-self: center;
    text-align: center;
}
.card{
    box-shadow: 0 0 30px green;
}
</style>

