<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="card">
                    <div class="card-body center">
                        <h1>
                            Error 404!! La pagina no se encuentra
                        </h1>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped>
.card{
    height: 1000vh;
    width: 100%;
}
.center{
    align-self: center;
    text-align: center;
}
</style>
