<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <BarraLateral id="BarraLateral"/>
                </div>
            
                <div class="col" >
                    <div class="row ">
                        
                        <div class="col mt-3">
                            <div class="card center">
                                <div class="card-body text-dark text-center">
                                    <h1>Bienvenido</h1>
                                </div>
                            </div>                            
                        </div>                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import BarraLateral from '../components/appPrincipal/BarraLateral.vue';

export default {
    components: {
        BarraLateral
    }
}
</script>

<style scoped>
*{
    color: black;
}
.col-md-2{
    padding: 0;
}

@media only screen and (max-width: 1000px) {
    #BarraLateral{
        display: none;
    }
}
</style>
