<template>
    <div>
        <div>
            <div class="container-fluid bg-success barra-lateral" >
                <div class="row inicio-barra-lateral">
                    <div class="col-12 p">
                        <button class="btn btn-block  btn-primary inicio m-2 btn-barra-lateral">
                            Calificaciones
                        </button>
                    </div>                        

                </div>
                
                <div class="row final-barra-lateral">
                    <div class="col-12 p ">
                        <button class="btn btn-block  btn-primary inicio  m-2 btn-barra-lateral">
                            Configuración
                        </button>                                
                    </div>
                    <div class="col-12 p ">
                        <router-link to="/" class="btn btn-block btn-danger  m-2 btn-barra-lateral">
                            Salir
                        </router-link>
                    </div>                    
                </div>                
            </div>            
        </div>
    </div>
</template>

<style scoped>
.p{
    padding: 0;
    margin-right: 2px;
}
.btn{
    color: white;
   
}
.btn-barra-lateral{
    width: 100%;
    height: 5%;
    text-align: center;
    
    
}
.barra-lateral{
    
    height: 100vh;
}
.center{
    align-self: center;
    text-align: center;
}
.inicio-barra-lateral{
    position: fixed;
    
    top: 0;
    width: 14%;
    
    
    border: 0;
    
    
    display: flex;
    align-items: center;
}

.final-barra-lateral{

    position: fixed;
    
    bottom: 0;
    width: 14%;
    
    
    border: 0;
    
    
    display: flex;
    align-items: center;
}
</style>

